<div id="curriculum">
  <%= link_to :download , "https://www.dropbox.com/s/vgtjsvoati9w2im/CurriculumVitaeLuigiAntonini2013.pdf" , :id => 'curriculum_download' , :target => '_blank' %>

  <iframe src="https://docs.google.com/document/d/192WdGfZ8f-JYKjaITGNgTu_u0w-QvbW5MeESZArOFyw/pub"></iframe>

  <!-- Javascripts
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <%= javascript_include_tag "jquery" %>

  <script type="text/javascript">
      $(document).ready( ->
        //$('#curriculum iframe').height($("#curriculum").height());
      )
  </script>

</div>
