<div class="row">

  <div class="span12" id="home_message">
    <%= image_tag "home_message_shadow_top.png" , :id => "home_message_shadow_top" %>
    <%= image_tag "home_message_shadow_bottom.png" , :id => "home_message_shadow_bottom" %>
    <p class="header">
      Modern Language
    </p>
    <p class="text">
      New Generation Language
    </p>
  </div>
</div>

<div class="row">

  <div class="span3">
    <% @technologies.each do |t| %>
    <h2> <%= t.name %></h2>
    <%= image_tag t.image.url %>
    <% end %>
  </div>

</div>
