// Place all the styles related to the front controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/css3";
@import "compass/css3/appearance";
@import "compass/css3/transition";

$borders-color : #cdcdcd;

#home_message {
  
  overflow: hidden;
  margin-top: 20px;
  position: relative;
  height: 100px;
  padding-top: 20px;
  border-left: 0px;
  border-right: 0px;
  border-top: 1px;
  border-bottom: 1px;
  border-style: solid;
  border-color: $borders-color;
  
  #home_message_shadow_top {
    position: absolute;
    top: -20px;
  }
  #home_message_shadow_bottom {
    position: absolute;
    bottom: -20px;
  }
  
  p {
    position: relative;
    top: 10px;
    font-family:"Times New Roman", Times, serif;
    
    &.header {
      font-size: 30px;
      font-style: italic;
      padding-top: 15px;
      //background-image: image-url("virgolette.png");
    }
    &.text{
      font-size: 22px;
      color: #999; 
    }
    
  }
  
}

.technologies{
  margin-top: 20px;
  
  @include transition-property(all);
  @include transition-duration(500ms); 
  @include filter(grayscale(100%) brightness(0.1));
      
  &:hover {
    @include filter(grayscale(0%) brightness(0.0));  
  }
    
}
.technology {
  
  margin-top: 20px;
  
  p.description {
    height: 110px;
  }
  
  .technology_image {
    height: 100px; 
    background-repeat: no-repeat;
    background-position: center;
    
  }
  
}

#curriculum {
  
  #header {display: none;}
  
}

h2{
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 26px;
  margin-top: 80px;
  border-bottom: 1px solid $borders-color;
}


