// Place all the styles related to the front controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home_message {
  
  overflow: hidden;
  margin-top: 20px;
  position: relative;
  height: 100px;
  padding-top: 20px;
  
  #home_message_shadow_top {
    position: absolute;
    top: -20px;
  }
  #home_message_shadow_bottom {
    position: absolute;
    bottom: -20px;
  }
  
  p {
    position: relative;
    top: 10px;
    font-family:"Times New Roman", Times, serif;
    font-style: italic;
    text-align: center;
    
    &.header {
      font-size: 30px;
    }
    &.text{
      font-size: 24px;  
    }
    
  }
  
}

.technology {
  margin-top: 20px;
}

#curriculum {
  
  #header {display: none;}
  
}
