// Place all the styles related to the front controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home_message {
  
  overflow: hidden;
  margin-top: 20px;
  position: relative;
  height: 100px;
  padding-top: 20px;
  border-top: 1px;
  border-bottom: 1px;
  border-style: solid;
  border-color: #cdcdcd;
  
  #home_message_shadow_top {
    position: absolute;
    top: -20px;
  }
  #home_message_shadow_bottom {
    position: absolute;
    bottom: -20px;
  }
  
  p {
    position: relative;
    top: 10px;
    font-family:"Times New Roman", Times, serif;
    
    &.header {
      font-size: 30px;
      font-style: italic;
      padding-top: 15px;
      //background-image: image-url("virgolette.png");
    }
    &.text{
      font-size: 22px;
      color: #999; 
    }
    
  }
  
}

.technologies{
  margin-top: 20px;  
}
.technology {
  margin-top: 20px;
}

#curriculum {
  
  #header {display: none;}
  
}
