//Style for portfolio screen
//all elements are in portfolio container
@import "compass/css3";
@import "compass/css3/appearance";
@import "compass/css3/transition";

$borders-color : #cdcdcd;

#portfolio_container {
  
  @include transition(right 2s);
  
  // position: absolute;
  // top: 0px;
  // left: 0px;
  // height: 100%;
  // width: 100%;
  
  .arrow{
    position: absolute;
    height: 100%;
    width: 120px;
    top: 50%;
    left: 10px;
    background-repeat: no-repeat; 
    backgournd-position: center;
    background-size: contain;
    display: none;
    width: 72px;
  }
  
  #left_arrow{
    background-image: image-url('left_arrow.png');
  }
  #right_arrow{
    background-image: image-url('right_arrow.png');
    right: 10px;
    left: auto;
  }
  
  #impress_container {
    /*position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;*/    
  }
  
  h2{
    border-bottom: 1px solid $borders-color;
    margin-bottom: 30px;
    @include text-shadow(#fff 1px 1px 2px);    
  }
  
  
  a.link{
    font-size: 16px;
    // font-style: normal;
    // float:right;
    //       
    // &:after{
      // content: '->'
    // }  
  }
  
  .images {
    margin-top: 20px;
    img {
      height: 70px;
    }
  }  
  
}
